<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/dashboardAdmin :: burguer">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<header th:replace="plantilla/dashboardAdmin :: bread"></header>

	<nav th:replace="plantilla/dashboardAdmin :: meat"></nav>

	<div class="container">
	
	<div class="card">
		<div class="card-header" th:text="${titulo}"></div>
		<div class="card-body">
	
		<form th:action="@{/proveedor/crear}" th:object="${proveedor}"  method="post">
			<input type="hidden" th:field="*{idProveedor}">
			<div class="form-group row">
				<label class="col-md-2" for="nitProveedor">Nit:</label> 
				<input type="text" th:field="*{nitProveedor}" class="form-control form-control-sm col-md-6 " id="nitProveedor"
					placeholder="Nit del proveedor">  
				<div class="alert-danger" th:if="${#fields.hasErrors('nitProveedor')}" th:errors="*{nitProveedor}">Name Error</div>
			</div>
			<div class="form-group row">
				<label class="col-md-2" for="nombre">Nombre:</label> 
				<input type="text" th:field="*{nombre}" class="form-control form-control-sm col-md-6 " id="nombre"
					placeholder="Nombre del proveedor">  
				<div class="alert-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Name Error</div>
			</div>
			<div class="form-group row">
				<label class="col-md-2" for="telefono">Teléfono:</label> 
				<input type="text" th:field="*{telefono}" class="form-control form-control-sm col-md-6 " id="telefono"
					placeholder="Telefono del proveedor"> 
				<div class="alert-danger" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}">Name Error</div> 
			</div>
			<div class="form-group row">
				<label class="col-md-2" for="celular">Celular:</label> 
				<input type="text" th:field="*{celular}" class="form-control form-control-sm col-md-6 " id="celular"
					placeholder="Celular del proveedor">  
			</div>
			<div class="form-group row">
				<label class="col-md-2" for="email">E-mail:</label> 
				<input type="text" th:field="*{email}" class="form-control form-control-sm col-md-6 " id="email"
					placeholder="E-mail del proveedor">
				<div class="alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</div>
			</div>
			<div class="form-group row">
				<label class="col-md-2" for="ciudad">Ciudad:</label> 
				<select  class="form-control form-control-sm col-md-6 " id="ciudad" th:field="*{ciudad}">
					<option th:value="BOGOTA" th:text="'Bogotá'"/>
					<option th:value="CHIA" th:text="'Chia'"/>
					<option th:value="COTA" th:text="'Cota'"/>
				</select>  
				<div class="alert-danger" th:if="${#fields.hasErrors('ciudad')}" th:errors="*{ciudad}">Name Error</div>
			</div>
			<div class="form-group row">
				<label class="col-md-2" for="direccion">Dirección:</label> 
				<input type="text" th:field="*{direccion}" class="form-control form-control-sm col-md-6 " id="direccion"
					placeholder="Ingrese la direccion del proveedor">  
				<div class="alert-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Name Error</div>
			</div>
			<div class="form-group row">
				<label class="col-md-2" for="categoria">Categoria:</label> 
				<select  class="form-control form-control-sm col-md-6 " id="categoria" th:field="*{categoriaProveedor.idCategoria}">
					<option th:each="cat:${categorias}" th:value="${cat.idCategoria}" th:text="${cat.categoria}"/>
				</select> 
					
			</div>

			<input type="submit" class="btn btn-danger btn-sm" value="Guardar">
		</form>
		</div>
	</div>

	</div>

	<footer th:replace="plantilla/dashboardAdmin :: downbread"></footer>

</body>
</html>