<!DOCTYPE html>
<html xmlns:th="http://www.thyemleaf.org" >
<head>
	<meta charset="UTF-8">
	<title> Cliente </title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/dashboardAdmin.css}">
	<link rel="shotcut icon" th:href="@{/img/logosimbolo.png}">
	<script src="https://kit.fontawesome.com/eb1bb051d4.js"></script>
</head>
<body>

	<div class="container-fluid">
		<div class="row">
			<div class="sticky-top">
				<nav th:replace="plantilla/adminSidebar :: sidebar"></nav>
			</div>
			<div class="col">
				<header th:replace="plantilla/header :: header"></header>
				<div class="container">
					<h1>JKASDÑKFKJASDÑKLFJJKASDFKJASDÑKLFJ</h1>
				</div>
			</div>
			
		</div>
	</div>

</body>
</html>