<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="plantilla/dashboardAdmin :: burguer" >
<meta charset="UTF-8">
<title>Insert title here</title>
</head>	
<body>

	<div class="container text-center py-5">
		<div class="panel">
			<div class="panel-heading">
				<h3 class="panel-tittle text-danger">
					<span th:text="${error}"></span> - <span th:text="${status}"></span>
				</h3>
			</div>
			<br>
			<br>
			<div class="panel-body">
				<img th:src="@{/img/error400.jpg}">
				<br>
				<br>
				<h4>Ha hecho una solicitud incorrecta!</h4>
				<br>
				<br>
				<button class="btn btn-success" onclick="goBack()">&laquo;Regresar</button>
			</div>
		</div>
	</div>
	
	<script>
		function goBack(){
			window.history.back();
		}
	</script>

</body>
</html>